<div class="Nav__Container Nav__Container--closed" id="nav">
  <div class="Nav__Toggle Nav__Toggle--closed" id="nav_toggle">
    MENU
  </div>
  <nav>
    <ul class="Nav__List">
      <li class="Nav__ListItem"><a href="video.html">Video</a></li>
      <li class="Nav__ListItem"><a href="photography.html">Photography</a></li>
      <li class="Nav__ListItem"><a href="about.html">About</a></li>
      <li class="Nav__ListItem"><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <div class="Nav__Social">
    <i class="Nav__SocialIcon fab fa-facebook"></i>
    <i class="Nav__SocialIcon fab fa-instagram"></i>
    <i class="Nav__SocialIcon fab fa-vimeo"></i>
    <i class="Nav__SocialIcon fab fa-youtube"></i>
  </div>
</div>
